@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar Novo Post </h2>

<form action="@Url.Action("Cadastrar", "Post")" method="post">
    <div class="form-group">
        <label class="control-label"> Título </label>
        <input type="text" class="form-control" name="Titulo" />
    </div>

    <div class="form-group">
        <label class="control-label"> Conteúdo </label>
        <textarea class="form-control" name="Conteudo"> </textarea>
    </div>

    <button class="btn btn-primary"> Cadastrar </button>
</form>
